# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
# Keep only run-latest.json; ignore all timestamped historical runs
broadcast/**/run-[0-9]*.json

# Docs
# docs/

# Dotenv file
.env

#ignore personal notes
notes/
white-paper.md
notes.md
tokenomics.md

# Ignore Visual Studio Code
.vscode/
